body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 28px;
  font-weight: bold;
  font-size: large;
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  border-radius: 5px;
}
.legend i {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 14px;
  opacity: 1;
}
